/* main.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-inline-size: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    inline-size: 100%;
    inset-block-start: 1;
    z-index: 1000;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #4CAF50;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100vh;
}

.content {
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin-block-end: 10px;
}

.header h2 {
    font-size: 24px; /* Changed h3 to h2 for consistency */
    margin-block-end: 20px;
}

.social-links a {
    margin: 0 10px;
    color: #007bff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4CAF50;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

/* Default styles */

/* Mobile-first styles */
body {
    font-size: 16px;
}

.container {
    inline-size: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* Tablet styles */
@media (min-inline-size: 768px) {
    body {
        font-size: 18px;
    }

    .container {
        max-inline-size: 768px;
    }
}

/* Desktop styles */
@media (min-inline-size: 1024px) {
    body {
        font-size: 20px;
    }

    .container {
        max-inline-size: 1024px;
    }

    /* Add more specific styles for larger screens if necessary */
}

/* Mobile-first styles for navigation menu */
.menu-toggle {
    display: block;
}

ul.container {
    display: none;
}

/* Show navigation menu for larger screens */
@media (min-inline-size: 768px) {
    .menu-toggle {
        display: none;
    }

    ul.container {
        display: flex;
        justify-content: space-around;
    }

    /* Add additional styles for navigation items if needed */
}

